.service-body{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
    gap: 20px;
    margin: auto ;
    width: 90%;
    margin-top: 100px;

}


.service-body .service-card{
    height: 400px;
    /* background-color: red; */
    padding: 10px;
    /* text-align: center; */
}

.service-body .service-card img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transition: all .3s;
}

.service-card img:hover{
    transform: scale(1.01);
}

 .got-to-service{

    font-size: 25px;
    color: var(--green);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    text-decoration: underline 1px solid var(--green);
    text-underline-offset:  3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}


.got-to-service:hover{
    opacity: .7;
letter-spacing: 2px;

}





@media (min-width: 0px) and (max-width:990px) {

    .service-body{
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
        gap: 10px;
        width: 95%;
        margin-top: 100px;    
    }

    .service-body .service-card{
        height: 400px;
        padding: 7px;
    }
    
    
 .got-to-service{
    font-size: 20px;
    text-underline-offset:  3px;

}

  }


@media (min-width: 400px) and (max-width:610px) {
    /* Your styles for extra small devices */
  
  .home-body{
    background-color: red;
  }
  
  
  
  }
  
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 611px) and (max-width: 767.98px) {
    /* Your styles for small devices */
  
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {

    /* Your styles for medium devices */
    
  
    }
  
    
  
  
  
    
  
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 922px) and (max-width: 1199.98px) {
    /* Your styles for large devices */
  
  
    
    }
   
  
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Your styles for extra large devices */
  }
  
  /* Ultra large devices (extra large desktops, 1400px and up) */
  @media (min-width: 1400px) {
    /* Your styles for ultra large devices */
  }

